body{
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.panel{
  width:180px;
  height:120px;
  background:rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  border-radius:20px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  transition:0.5s;
  box-shadow:0 20px 40px rgba(0,0,0,0.6);
}

.panel:hover{
  transform:rotateY(15deg) scale(1.1);
}

.locked{
  opacity:0.4;
  cursor:not-allowed;
}

#clips{
  margin-top:40px;
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
}

.clip-card{
  width:200px;
  padding:10px;
  background:rgba(255,255,255,0.08);
  border-radius:15px;
  box-shadow:0 10px 30px rgba(0,0,0,0.5);
}

button{
  margin-top:10px;
  padding:8px 12px;
  border:none;
  border-radius:10px;
  background:#00ffd5;
  cursor:pointer;
}